@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Burası hakkımızda sayfası</p>
<p>bu sayfada verilerimi görecem</p>
<button class="btn-danger " > start</button>
