
@{
    ViewBag.Title = "Index";
}

<h2>Burası default sayfası</h2>

<p> Index isimli view ı oluşturmak için üstteki Indexe sağ tıklayıp açılan menuden add view seçeneğine tıklıyoruz Burada
    Mvc5 vieww ı seçip add butonuna tılkayıp vieı oluşturuyoruz</p>

<p>Controllerdan her hangi bir View gitmek istersek ilgili Action adına(Index gibi ) sağ klik yapıp Go to view 
    menusune tıklayarak </p>



