@{

    ViewData["Title"] = "MVC de Controllerdan Viewa Veri gönderme";
}

<h1> MVC de Controllerdan Viewa Veri gönderme</h1>
<h3>Ürün Bilgileri</h3>

<table class="table">

    <tr>
        <td>Ürün Kategorisi</td>
        <td> : @ViewBag.UrunKategorisi</td>

    </tr>
    <tr>
        <td>Ürün Adı</td>
        <td> : @ViewData["UrunAdi"]</td>

    </tr>
    <tr>
        <td>Ürün Kategorisi</td>
        <td> : @TempData["UrunFiyati"]</td>
    </tr>
    <tr>
        <td>Ürün Fiyatı (Formatlı)</td>
        <td>: @(String.Format("{0:C}",TempData["UrunFiyati"]))</td>

    </tr>




</table>
